<!DOCTYPE html>
{% load static %}
{% load group %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intranet AjSVC</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'intranet/css/style.css' %}">
  </head>
  <body>
    <div id="heading">
      {% block heading %}
        {% if user.is_authenticated %}
          Bevingut sr/a {{ user.first_name }} {{ user.last_name }}
        {% endif %}
      {% endblock %}
    </div>
    <div class="main_block">
    {% block menu_principal %}
      <div id="options_block">
        <ul class="menu_options">
          <li><a href="{% url 'indexIntranet' %}" class="active">Inici</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'nou_tramit' %}"class ="glyphicon glyphicon-plus">Tramitar A.P.</a></li>
          {% endif %}
          <li><a href="{% url 'noticies' %}">Notícies</a></li>
          <li><a href="">Directori del Personal</a></li>
          <li><a href="">Altres</a></li>
          {% if not user.is_authenticated %}
            <li class="menu_options_dreta"><a href="{% url 'login' %}" class="active">Entrar</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="menu_options_dreta"><a href="{% url 'logout' %}" class="active">Sortir</a></li>
            <li class="menu_options_dreta">
            <a href="/permivac/tramitador/accounts/password_change/">Canviar la contrasenya</a></li>
          {% endif %}
        </ul>
      </div>
    {% endblock %}
    <div class="second_block">
    {% block links %}
          <div class="col-md-2 well">
            <h5>Aplicacions i Extranets:</h5>
            <ul>
              {% for link in links_publics %}
                <li><a href="{{link.url}}" target="_blank">{{link.titol}}</a></li>
              {% endfor %}
            </ul>
            <h5>Propies del Departament Assignat:</h5>
            <ul>
              {% for link in links_privats %}
                <li><a href="{{link.url}}" target="_blank">{{link.titol}}</a></li>
              {% endfor %}
            </ul>
            <div id="meteo">
              <h5>El Temps <button id="meteo" class="glyphicon glyphicon-resize-full"></button></h5>
              <iframe src="https://static-m.meteo.cat/ginys/municipal8d?location=082628&language=ca&color=2c3e50&tempFormat=ºC" title="Predicció municipal a 8 dies" frameborder="0" style="border: 0" scrolling="yes" width="200" height="218"></iframe>
            </div>
            <!--<div id="c_67c8b370608df36bfc3e34abad6e4181" class="normal"></div>-->
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block manuals %}
          <div class="col-md-2 well">
          <h5>Manuals:</h5>
            <ul>
              {% for manual in manuals %}
                <li><a target="_blank" href='/static/documents/upload/{{manual.document}}'>{{ manual.titol }}</a></li>
              {% endfor %}
            </ul>
        </div>
      {% endblock %}
      </div>
    </div>
    <!--<script type="text/javascript" src="https://ca.eltiempo.es/widget/widget_loader/67c8b370608df36bfc3e34abad6e4181"></script>-->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>

  </body>

  <script>
    $(document).ready(function(e){

      $("#meteo button").click(function(e){

        var ample = $('iframe').width();
        console.log(ample);
        if(ample > 200){
          ample = 200;
          console.log("Ara es fa petit");
          $(this).removeClass('glyphicon glyphicon-resize-small');
          $(this).addClass('glyphicon glyphicon-resize-full');

        }else if(ample < 520 ){
          console.log("Ara es fa gràn");
          $(this).removeClass('glyphicon glyphicon-resize-full');
          $(this).addClass('glyphicon glyphicon-resize-small');

          ample = 520;
        }
        $('iframe').width(ample);
      });
    });
  </script>
  {% block javascript %}
  {% endblock %}
  <html>
