<!DOCTYPE html>
{% load static %}
{% load group %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intranet AjSVC</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'intranet/css/style.css' %}">
  </head>
  <body>
    <div id="main_block">
      <div id="options_block">
        <ul class="menu_options">
          <li><a href="{% url 'indexIntranet' %}" class="active">Inici</a></li>
          <li><a href="{% url 'nou_tramit' %}"class ="glyphicon glyphicon-plus">Tramitar A.P.</a></li>
          <li><a href="">Noticies</a></li>
          <li><a href="">Directori del Personal</a></li>
          <li><a href="">Altres</a></li>
          <li class="menu_options_dreta"><a href="/permivac/tramitador/accounts/password_change/">Canviar la contrasenya</a></li>
        </ul>
      </div>
      {% block content %}
      {% endblock %}
    </div>

    {% block javascript %}

    {% endblock %}
  </body>
  <html>
