<!DOCTYPE html>
{% load static %}
{% load group %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intranet AjSVC</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'intranet/css/style.css' %}">
  </head>
  <body>
    <div id="heading">
      {% block heading %}
        {% if user.is_authenticated %}
          Bevingut sr/ra {{ user.first_name }} {{ user.last_name }}
        {% endif %}
      {% endblock %}
    </div>
    <div id="main_block">
      <div id="options_block">
        <ul class="menu_options">
          <li><a href="{% url 'indexIntranet' %}" class="active">Inici</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'nou_tramit' %}"class ="glyphicon glyphicon-plus">Tramitar A.P.</a></li>
          {% endif %}
          <li><a href="{% url 'noticies' %}">Noticies</a></li>
          <li><a href="">Directori del Personal</a></li>
          <li><a href="">Altres</a></li>
          {% if not user.is_authenticated %}
            <li class="menu_options_dreta"><a href="{% url 'login' %}">Entrar</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="menu_options_dreta"><a href="{% url 'logout' %}">Sortir</a></li>
            <li class="menu_options_dreta">
            <a href="/permivac/tramitador/accounts/password_change/">Canviar la contrasenya</a></li>
          {% endif %}
        </ul>
      </div>
      <div id="second_block">
          <div class="col-md-2 well">
            <h5>Aplicaicons i Extranets:</h5>
            <ul>
              {% for link in links_publics %}
                <li><a href="{{link.url}}" target="_blank">{{link.titol}}</a></li>
              {% endfor %}
            </ul>
            <h5>Propies del Departament Assignat:</h5>
            <ul>
              {% for link in links_privats %}
                <li><a href="{{link.url}}" target="_blank">{{link.titol}}</a></li>
              {% endfor %}
            </ul>
            <h5>El temps:</h5>
            <div id="c_67c8b370608df36bfc3e34abad6e4181" class="normal"></div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="col-md-2 well">
          <h5>Manuals:</h5>
          <ul>
            {% for manual in manuals %}
              <li><a href='/static/documents/upload/{{manual.document}}'>{{ manual.titol }}</a></li>
            {% endfor %}
          </ul>
      </div>
      </div>
    </div>
    <script type="text/javascript" src="https://ca.eltiempo.es/widget/widget_loader/67c8b370608df36bfc3e34abad6e4181"></script>
    {% block javascript %}

    {% endblock %}
  </body>
  <html>
