{% extends 'base.html' %}

{% block content %}
<div class="noticies">
  <div>
    <h3>NOTÍCIES:</h3>
    {% for noticia in noticies %}
      <div class="col well">
        <h4 class="titol">{{noticia.titol}}</h4>
        <small class="data">{{noticia.creat_en}}</small>
        <p class="text">{{noticia.text}}</p>
        {% if noticia.document %}
          <p>Document Annexe: <a href='/static/documents/upload/{{noticia.document}}' class="glyphicon glyphicon-save-file"></a></p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
