{% extends 'base.html' %}

{% block content %}
<div class="noticies">
  <div>
    <h3>NOTÍCIES:</h3>
    {% for noticia in noticies %}
      <div class="col well">
        <h4 class="titol">{{noticia.titol}}</h4>
        <small class="data">{{noticia.creat_en}}</small>
        <p class="text">{{noticia.text}}</p>
        {% if noticia.document %}
          <p>Document Annex: <a href='/static/documents/upload/{{noticia.document}}' class="glyphicon glyphicon-save-file"></a></p>
        {% endif %}
      </div>
    {% endfor %}
    {% if noticies.has_other_pages %}
      <ul class="pagination">
        {% if noticies.has_previous %}
          <li><a href="?page={{ noticies.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in noticies.paginator.page_range %}
          {% if noticies.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if noticies.has_next %}
          <li><a href="?page={{ noticies.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
