#heading{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content:center;
  align-items:center;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-decoration: underline;
  font-weight: bold;
  /*border-style: groove;
  border-color: red;*/

}
#main_block{
  display:flex;
  flex-direction:column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  justify-content: center;
}
#login_block{
  flex-direction: column;
  padding:5px;
  display:flex;
  width: 300px;
  height: auto;
  border-width: thin;
  border-style: solid;
}
#options_block{
  /*border-style: groove;
  display: flex;
  flex-direction:row;
  width: 100%;
  height: auto;
  border-color: green;*/
}


.TFtable{
  width: 100%;
  height: auto;
  padding: 5px;
}
.TFtable td{
  padding:7px;
  border:border#4ef495 1px solid;
}
.TFtable tr{
  background:#b8f3d1;
}
.TFtable tr:nth-child(odd){
  background:#b8f3d1;
}
.TFtable tr:nth-child(even){
  background:#daf4e5;
}
.content-loader tr td {
    white-space: nowrap;
    width:auto;
}

ul.menu_options  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.menu_options li {
  float: left;
}
ul.menu_options li.menu_options_dreta{
  float:right;
}
ul.menu_options li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu_options li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
a, i {cursor: pointer;

}
.amagat{
  display:none;
}
