#heading{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content:center;
  align-items:center;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-decoration: underline;
  font-weight: bold;
  /*border-style: groove;
  border-color: red;*/

}
.main_block{
  display:flex;
  flex-direction:column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  justify-content:flex-start;

}#meteo{
  z-index: 100;
  position: absolute;
}.fitxar{
  display: flex;
  justify-content:space-around;
  flex-direction:row;
  cursor: pointer;
}.fitxar img{
  width: 32px;
  height: 32px;
}.fitxar:focus img{
    border: 2px solid blue;

}.second_block{
  margin-top: 10px;
  display:flex;
  flex-direction:row;
  max-width:"200px";
  min-width:"200px";
  height: auto;
  justify-content:space-between;
}.second_block{
  margin-top: 10px;
  display:flex;
  flex-direction:row;
  max-width:"200px";
  min-width:"200px";
  height: auto;
  justify-content:flex-start;
}.second_block ul{
  list-style-position: inside;
  padding-left: 0;
  list-style: none;
}.second_block h5{
  font-weight: bold;
}.fitxar{
  padding-top:20px;
  padding-bottom: 20px;
}.block{
  display:flex;
  flex-direction:column;
  height: auto;
  width:auto;
  justify-content: flex-start;
}.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
.noticies{
  display:flex;
  flex-direction:column;
  height: auto;
  width:100%;
  justify-content: flex-start;
  padding:10px;
}.noticies h4{
  text-decoration: underline;
}.noticies .titol{
  background-color:#8AC7F5;
  padding:2px;
  color:black;
  font-size: weight;
}.noticies .data{
  text-align: right;
}.noticies .text{
  font-style: oblique;
  text-align:justify;
}

ul.menu_options  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.menu_options li {
  float: left;
}
ul.menu_options li.menu_options_dreta{
  float:right;
}
ul.menu_options li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu_options li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
a, i {cursor: pointer;

}
.amagat{
  display:none;
}
.ui-datepicker td.holiday a, .ui-datepicker td.holiday a:hover {
    background: none #FFEBAF;
    border: 1px solid #BF5A0C;
  }
