{% extends 'tramits/base.html' %}

{% block content %}

  {% if tramits_pendents %}
  <h4>Tramits Pendents de finalitzar:</h4>
    <div class='flotant'>
      <form method="POST" id="enviarmsg">{% csrf_token %}
        <label for='missatge'>Missatge:</label>
        <textarea name='missatge' id='missatge' cols='50' rows='4'></textarea>
        <input type="hidden" value="" name="id">

        <button type="button" class="btn btn-default btn-sm" name="tancar">
          <span class="glyphicon glyphicon-remove"></span> Tancar
        </button>
        <button type='submit' value='Dessar' class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-ok"></span> Desar
        </button>        
      </form>
    </div>
    <table class="TFtable">
      <tr>
        <th>Tràmit</th><th>Tipus</th><th>Nom</th><th>Cognoms</th><th>Creat en data</th><th>Finalitzat?</th><th>Accions</th><th>Document</th><th>Missatge</th><th>Validacio Responable</th><th>Validacio RRHH</th>
        <th>Validacio Politic</th>
      </tr>
      {% for tramit in tramits_pendents %}
      <tr>
        <td><a href="{% url 'tramit_detall' tramit.id %}">Veure tràmit num:{{tramit.id}}</a></td><td>{{tramit.tipus}}</td><td>{{tramit.treballador.first_name}}</td><td>{{tramit.treballador.last_name}}</td>
        <td>{{tramit.creat_en}}</td><td>{{tramit.finalitzat}}</td><td><a href="{% url 'tramit_eliminar' tramit.id %}" onclick="return confirm('Estas segur de vole eliminar el tràmit?')" class="glyphicon glyphicon-remove"></a></td>
        <td>
          {% if tramit.document %}

            <a href='/static/documents/upload/{{ tramit.document.document.url }}' class="glyphicon glyphicon-save-file"></a>
          {% else %}
            <small>Sense documents</small>
          {% endif %}
        </td>
        <td>
          <button type="button" value="{{tramit.id}}" class="btn btn-default btn-sm missatges_btn" name="missatges_btn">
            <span class="glyphicon glyphicon-pencil"> Editar</span>
          </button>
        </td>
        <td>
          {% if 'responsables' in rol %}
            <a href="{% url 'validar' tramit.id 'responsables' %}" class="glyphicon glyphicon-ok-sign" title="Validar el Tràmit" id="validar" data-tramit="{{tramit.id}}" data-rol="{{rol}}"></a>
            <a href="{% url 'denegar' tramit.id 'responsables' %}" class="glyphicon glyphicon-remove-sign" title="Denegar el Tràmit" id="denegar" onclick="return confirm('Estas segur de voler denegar el tràmit?')" data-tramit="{{tramit.id}}" data-rol="{{rol}}"></a>
          {% endif %}
          {{tramit.valResp}}
        </td>
        <td>
          {% if 'RRHH' in rol %}
            <a href="{% url 'validar' tramit.id 'RRHH' %}" class="glyphicon glyphicon-ok-sign" title="Validar el Tràmit" id="validar" data-tramit="{{tramit.id}}" data-rol="{{rol}}"></a>
            <a href="{% url 'denegar' tramit.id 'RRHH' %}" class="glyphicon glyphicon-remove-sign" title="Denegar el Tràmit" id="denegar" onclick="return confirm('Estas segur de voler denegar el tràmit?')" data-tramit="{{tramit.id}}" data-rol="{{rol}}"></a>
          {% endif %}
            {{tramit.valRRHH}}
        </td>
        <td>
          {% if 'politics' in rol %}
            <a href="{% url 'validar' tramit.id 'politics' %}" class="glyphicon glyphicon-ok-sign" title="Validar el Tràmit" id="validar" data-tramit="{{tramit.id}}" data-rol="{{rol}}"></a>
            <a href="{% url 'denegar' tramit.id 'politics' %}" class="glyphicon glyphicon-remove-sign" title="Denegar el Tràmit" id="denegar" onclick="return confirm('Estas segur de voler denegar el tràmit?')" data-tramit="{{tramit.id}}"data-rol="{{rol}}"></a>
          {% endif %}
            {{tramit.valPol}}
        </td>

      </tr>
      {% endfor %}
    </table>

  {% endif %}

  {% if tramits_pendents_RRHH %}
    <h4>Tramits Pendents com a RRHH:</h4>
    <table class="TFtable">
      <tr>
        <th>Tràmit</th><th>Tipus</th><th>Nom</th><th>Cognoms</th><th>Creat en data</th><th>Finalitzat?</th><th>Accions</th><th>Document</th><th>Validacio Responable</th><th>Validacio RRHH</th>
        <th>Validacio Politic</th>
      </tr>
      {% for tramit in tramits_pendents_RRHH %}
      <tr>
        <td><a href="{% url 'tramit_detall' tramit.id %}">Veure tràmit num:{{tramit.id}}</a></td><td>{{tramit.tipus}}</td><td>{{tramit.treballador.first_name}}</td><td>{{tramit.treballador.last_name}}</td>
        <td>{{tramit.creat_en}}</td><td>{{tramit.finalitzat}}</td><td><a href="{% url 'tramit_eliminar' tramit.id %}" onclick="return confirm('Estas segur de vole eliminar el tràmit?')" class="glyphicon glyphicon-remove"></a></td>
        <td>
          {% if tramit.document %}

            <a href='/static/documents/upload/{{ tramit.document.document.url }}' class="glyphicon glyphicon-save-file"></a>
          {% else %}
            <small>Sense documents</small>
          {% endif %}
        </td>
        <td>
          <button type="button" value="{{tramit.id}}" class="btn btn-default btn-sm missatges_btn" name="missatges_btn">
            <span class="glyphicon glyphicon-pencil"> Editar</span>
          </button>
        </td>
        <td>
          {% if 'responsables' in rol %}
            <a href="{% url 'validar' tramit.id 'responsables' %}" class="glyphicon glyphicon-ok-sign" title="Validar el Tràmit" id="validar" data-tramit="{{tramit.id}}" data-rol="responsables"></a>
            <a href="{% url 'denegar' tramit.id 'responsables' %}" class="glyphicon glyphicon-remove-sign" title="Denegar el Tràmit" id="denegar" data-tramit="{{tramit.id}}" data-rol="responsables" onclick="return confirm('Estas segur de voler denegar el tràmit?')"></a>
          {% endif %}
          {{tramit.valResp}}
        </td>
        <td>
          {% if 'RRHH' in rol %}
            <a href="{% url 'validar' tramit.id 'RRHH' %}" class="glyphicon glyphicon-ok-sign" title="Validar el Tràmit" id="validar" data-tramit="{{tramit.id}}" data-rol="RRHH"></a>
            <a href="{% url 'denegar' tramit.id 'RRHH' %}" class="glyphicon glyphicon-remove-sign" title="Denegar el Tràmit" id="denegar" data-tramit="{{tramit.id}}" data-rol="RRHH"  onclick="return confirm('Estas segur de voler denegar el tràmit?')"></a>
          {% endif %}
            {{tramit.valRRHH}}
        </td>
        <td>
          {% if 'politics' in rol %}
            <a href="{% url 'validar' tramit.id 'politics' %}" class="glyphicon glyphicon-ok-sign" title="Validar el Tràmit" id="validar" data-tramit="{{tramit.id}}" data-rol="politics"></a>
            <a href="{% url 'denegar' tramit.id 'politics' %}" class="glyphicon glyphicon-remove-sign" title="Denegar el Tràmit" id="denegar" data-tramit="{{tramit.id}}"data-rol="politics"></a>
          {% endif %}
            {{tramit.valPol}}
        </td>

      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>No hi han tramits pendentsde de tramitar...</p>
    {% endif %}
{% endblock %}

{% block javascript %}
  <script>

    $(document).ready(function(){
      $("button[name=missatges_btn]").click(function(e){
        console.log($(this).val());
        $(this).prepend($("#divForm"));
        $('.flotant').css('display','flex');
        $("input[name='id']").val($(this).val());
        console.log($("input[name='id']").val());


      });
      $("button[name=tancar]").click(function(e){
        $('.flotant').css('display','none');
      });
      $('.flotant').submit(function(e){
        $('.flotant').css('display','none');
      });
    });
  </script>

{% endblock %}
