<!DOCTYPE html>
{% load static %}
{% load group %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tramitador RRHH AjSVC</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'tramits/style.css' %}">

  </head>
  <body>
    <div id="heading">
      {% block heading %}
        {% if user.is_authenticated %}
          Bevingut sr/ra {{ user.first_name }} {{ user.last_name }}
        {% else %}
          <p>Encara no t'has autentificat:<a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Entrar</button></a></p>
        {% endif %}
      {% endblock %}
    </div>
    {% if user.is_authenticated %}

      <div id="main_block">
        <div id="options_block">
          <ul class="menu_options">
            <li><a href="{% url 'index' %}" class="active">Inici</a></li>
            <li><a href="{% url 'nou_tramit' %}"class ="glyphicon glyphicon-plus">Solicitud</a></li>
            {% if request.user|has_group:"RRHH;responsables;politics" %}
              <li><a href="{% url 'assignades' %}">Assignades</a></li>
            {% endif %}

            <li><a href="{% url 'historic' %}">Historic</a></li>
            <li><a target="_blank" href="{% static 'documentacio/manual.pdf' %}">Informacio sobre el Tramit</a></li>

            <li class="menu_options_dreta"><a href="{% url 'logout' %}">Sortir</a></li>
            <li class="menu_options_dreta"><a href="accounts/password_change/">Canviar la contrasenya</a></li>

          </ul>
        </div>
        {% block content %}
        {% endblock %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
        <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      </div>
      {% block javascript %}

      {% endblock %}

    {% endif %}

  </body>
</html>
