<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tramitador RRHH AjSVC</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'tramits/style.css' %}">

  </head>
  <body>
    <div id="heading">
      {% block heading %}
        {% if user.is_authenticated %}
          Bevingut {{ user.username }}!
          <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
          <p>Encara no t'has autentificat: </p>
          <a href="{% url 'login' %}">login</a>
        {% endif %}
      {% endblock %}
    </div>
    {% if user.is_authenticated %}

    <div id="main_block">
      <div id="options_block">
        <ul class="menu_options">
          <li><a href="{% url 'index' %}" class="active">Inici</a></li>
          <li><a href="{% url 'nou_tramit' %}"class ="glyphicon glyphicon-plus">Solicitud</a></li>
          <li><a href="/hisotric">Historic</a></li>
          <li><a href="/infor">Informacio sobre el Tramit</a></li>
        </ul>
      </div>
      {% block content %}
      {% endblock %}
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </div>
    {% endif %}
  </body>
</html>
