{% extends 'tramits/base.html' %}
{% block content %}

  {% if tramits_finalitzats %}
  <h4>Tramits finalizats aquest any:</h4>

    <table class="TFtable">
      <tr>
        <th>Tràmit</th><th>Tipus</th><th>Nom</th><th>Cognoms</th><th>Missatge Usuari</th><th>Finalitzat?</th><th>Document</th>
        <th>Validacio responsable</th><th>Validacio RRHH</th><th>Validacio Politic</th>
      </tr>
      {% for tramit in tramits_finalitzats %}
      <tr>
        <td><a href="{% url 'tramit_detall' tramit.id %}">Veure tràmit num:{{tramit.id}}</a></td><td>{{tramit.tipus}}</td><td>{{tramit.treballador.first_name}}</td><td>{{tramit.treballador.last_name}}</td>
        <td>{{missatge_usuari}}</td><td>{{tramit.finalitzat}}</td>
        <td>
          {% if tramit.document %}

            <a href='{{ tramit.document.document.url }}' class="glyphicon glyphicon-save-file"></a>
          {% else %}
            Sense documents
          {% endif %}
        </td>
        <td>{{tramit.valResp}}</td><td>{{tramit.valRRHH}}</td><td>{{tramit.valPol}}</td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
      Encara no s'ha finalitzat cap tràmit...
  {% endif %}
  {% if calendari %}
  <h4>Informació en dies, sobre el teu calendari any: {{calendari.any}}</h4>
    <table class="TFtable">
      <tr>
        <th>Vacances restants</th>
        <th>Permissos preceptius fets</th>
        <th>Permissos no preceptius fets</th>
        <th>Assumptes personals restants</th>
        <th>Permisos Indisposició</th>
      </tr>
      <tr>
        <td>{{calendari.vacances}}</td>
        <td>{{calendari.perm_precep}}</td>
        <td>{{calendari.perm_no_precep}}</td>
        <td>{{calendari.asum_p}}</td>
        <td>{{calendari.perm_indisposicio}}</td>
      </tr>
    </table>
  {% else %}
    <p>Encara no tens calendari d'aquest any confeccionat.</p>
  {% endif %}
{% endblock %}
