{% extends 'tramits/base.html' %}
{% block content %}
<h4>Llistat dels últims 25 Marcatges</h4>
<table class="TFtable">
  <tr>
    <th>Dia i Hora</th><th>Operació</th>
  </tr>
    {% for row in data %}
    <tr>
      <td>{{row.CheckTime.date}}</td>
    {% if row.CheckType == 0 %}
      <td>Entrada</td>
    {% elif row.CheckType == 1%}
      <td>Sortida</td>
    {% endif %}
    </tr>
  {% endfor %}
  </tr>
</table>
<ul class="pagination">
  {% if data.has_previous %}
    <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in data.paginator.page_range %}
    {% if data.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if data.has_next %}
    <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endblock %}
