{% extends 'tramits/base.html' %}
{% block content %}
  <div id="tramit">
    <h4><p><em><u>Aquest tràmit s'ha desat correctament, pots afegir més informació amb el document annex que vulguis posar.</u></em></p></h4>
    <h4>Dades Personals:</h4>
    <p>Nom: {{tramit.treballador.first_name}}</p>
    <p>Cognoms: {{tramit.treballador.last_name}}</p>
    <p>Area:{{tramit.treballador.area}}</p>
    <h4>Dades de la Solicitud:</h4>
    <p>Dates de la Solicitud: {{tramit.data_sol}}</p>
    <p>Missatge del interessat: {{tramit.missatge_usuari}}</p>
    <h4>Estat de la Tramitacio:</h4>
    <p>Validacio del Responsable: {{tramit.valResp}}</p>
    <p>Validacio del RRHH: {{tramit.valRRHH}}</p>
    <p>Validacio del Politic:{{tramit.valPol}}</p>
    <p>Missatge Responsable:{{tramit.missatge_responsable}}</p>
    <p>
      {% if tramit.document %}
        <a href="/static/documents/upload/{{tramit.document.document }}" class="glyphicon glyphicon-save-file">{{tramit.document.descripcio}}</a>
        <button class="glyphicon glyphicon-remove btn btn-danger" id="document">
      {% else %}
        Sense document<i class="glyphicon glyphicon-open-file" id="enviar_doc" data-tramit="{{tramit.pk}}"></i>
        <input type="file"  data-tramit="{{tramit.pk}}" />
        <input type="button" class="glyphicon glyphicon-open-file" value="Enviar" name="pujar"/>
      {% endif %}
    </p>
  </div>
{% endblock %}
{% block javascript %}

<script>
  $(document).ready(function(){
    var token = '{{csrf_token}}';
    $("input[name=pujar]").click(function(){
      $doc = $(this).prev();
      console.log($doc.val()+"pk="+$doc.data('tramit'));
      if($doc.prop('files').length > 0){
        var token = '{{csrf_token}}';
        $formdata = new FormData();
        $docu = $doc.prop('files')[0];
        $pk = $doc.data('tramit');
        $formdata.append("document", $docu);
        $formdata.append("pk",$pk);
        console.log($formdata);
        $.ajax({
          headers: { "X-CSRFToken": token },
          url: "{% url 'pujar_document' %}",
          type: "POST",
          data: $formdata,
          processData: false,
          contentType: false,
          success: function (result) {
           console.log("Result :"+result.result+", MSG:"+result.message);
           alert(result.message);
           location.reload();
          }
        });
      }
    });
    $("#document").click(function(){
      {% if tramit.document %}
      $.ajax({
        headers: { "X-CSRFToken": token },
        url: "{% url 'eliminar_document' %}",
        type: "POST",
        data: {'pk':{{tramit.document.id}} },
        dataType: 'json',
        success: function (result) {
         console.log("Result :"+result.result+", MSG:"+result.message);
         alert(result.message);
         location.reload();
        }
      });
      {% endif %}
    });

  });
</script>
{%  endblock %}
