{% extends 'tramits/base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div id="main_table">

  <h4>Nova Sol·licitud de Permissos i Vacances</h4>
  <div id="calculadora">
    <h4>Calcula les dades de sol·icitud</h4>
    <div class="seccio">
      Del:<input type="text" name="display1" id="display1"/>Al:
      <input type="text" name="display2" id="display2" />
    </div>
    <div id="seccio">
      <label for="opcio">Opcions:</label>
      <div class="radio">
        <label><input type="radio" name="opcio" value="interval" checked>Interval de dates</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="opcio" value="single">Dies independents</label>
      </div>
    </div>
    <div id="seccio">
      <button type="button" class="btn" id="add_btn">Afeixir</button>
      <button type="button" class="btn btn-danger" id="reset_btn">Reiniciar</button>
      <input type="text" name="dates_shadow" id="dates_shadow" disabled="disabled" size="100" value="">
    </div>
  </div>
  <form method="POST" class="post-form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group">
        {{field.label_tag}}
        {{field}}
        {% if field.help_text %}
          <small class="form-text text-muted">{{field.help_text}}</small>
        {% endif %}
      </div>
      {% endfor %}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}

    <input type="hidden" name="next" value="{{ next }}">
    <input class="btn btn-success" type="submit" value="Desar">
  </form>
</div>
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function(){
      $("#display1").datepicker({ dateFormat: 'yy-mm-dd', beforeShowDay:setHoliDays });
      $("#display2").datepicker({ dateFormat: 'yy-mm-dd', beforeShowDay:setHoliDays });
      /*$("#id_data_sol").prop('disabled', true);*/
      $.datepicker.regional['es'] = {
      closeText: 'Tancar',
      prevText: '<Ant',
      nextText: 'Sig>',
      currentText: 'Avui',
      monthNames: ['Gener', 'Febrer', 'Març', 'Abril', 'Maig', 'Juny', 'Juliol', 'Agost', 'Septembre', 'Octubre', 'Novembre', 'Decembre'],
      monthNamesShort: ['Gen', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'],
      dayNames: ['Diumenge', 'Dilluns', 'Dimarts', 'Dimecres', 'Dijous', 'Divendres', 'Dissabte'],
      dayNamesShort: ['Diu', 'Dill', 'Dima', 'Dime', 'Dijo', 'Dive', 'Disb'],
      dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
      weekHeader: 'Sm',
      dateFormat: 'yy-mm-dd',
      firstDay: 1,
      isRTL: false,
      showMonthAfterYear: false,
      yearSuffix: ''
  };
  $.datepicker.setDefaults($.datepicker.regional['es']);

      $('input[type=radio][name=opcio]').change(function(){
        if(this.value=="interval"){
          $("#display1").prop("disabled", false);
          $("#display2").prop("disabled", false);
          opcio = "interval";
        }else if(this.value == "single"){
          $("#display2").val(null);
          $("#display2").prop("disabled", true);
        }

      });

      $("#add_btn").click(function(e){

        if( $("#display1").val().length === 0 ){
          alert("Has de introduir minim una data");
        }else if( ($('input[type=radio][name=opcio]:checked').val()=="single") ){
          var valor = $("#id_data_sol").val();
          valor = valor + $("#display1").val();
          $("#id_data_sol").val(valor+";");
          $("#dates_shadow").val(valor+";");
        }else if( ($('input[type=radio][name=opcio]:checked').val()=="interval") ){
          var valor = $("#id_data_sol").val();
          valor = valor + $("#display1").val() + "/" + $("#display2").val();
          $("#id_data_sol").val(valor+";");
          $("#dates_shadow").val(valor+";");
        }else{

        }
      });
      $("#reset_btn").click(function(e){
        $("#display1").val(null);
        $("#display2").val(null);
        $("#id_data_sol").val(null);
        $("#dates_shadow").val(null);
      });

    function setHoliDays(date) {
        for (i = 0; i < holiDays.length; i++) {
          if (date.getFullYear() == holiDays[i][0]
             && date.getMonth() == holiDays[i][1] - 1
               && date.getDate() == holiDays[i][2]) {
             return [true, 'holiday', holiDays[i][3]];
          }
        }
       return [true, ''];
    }
    /*Codi Per editar els dies festius del datepicker*/
    var holiDays =[[2019,01,01,'Any nou'],[2019,01,22,'Festiu'],[2019,04,19,'Festiu'],
    [2019,04,22,'Festiu'],[2019,05,01,'Festiu'],[2019,06,24,'Festiu'],[2019,07,15,'Festiu'],
    [2019,08,15,'Festiu'],[2019,09,11,'Festiu'],[2019,10,12,'Festiu'],[2019,11,01,'Festiu'],
    [2019,12,06,'Festiu'],[2019,12,25,'Festiu'],[2019,12,26,'Festiu']];

    });
  </script>
{% endblock %}
